:root {
  --background-color-light: #ffffff;
  --background-color-dark: #333333;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --input-background-light: #ffffff;
  --input-background-dark: #555555;
  --button-background-light: #e0e0e0;
  --button-background-dark: #444444;
  --button-text-light: #000000;
  --button-text-dark: #ffffff;
}

.container.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

.container.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.input-box.light-mode {
  background-color: var(--input-background-light);
  color: var(--text-color-light);
  border: 1px solid #ccc;
}

.input-box.dark-mode {
  background-color: var(--input-background-dark);
  color: var(--text-color-dark);
  border: 1px solid #777;
}

.dropdown.light-mode,
.encode-button.light-mode {
  background-color: var(--button-background-light);
  color: var(--button-text-light);
}

.dropdown.dark-mode,
.encode-button.dark-mode {
  background-color: var(--button-background-dark);
  color: var(--button-text-dark);
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
}

.input-column {
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.input-box {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

.middle-column {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dropdown-label {
  font-size: 16px;
  margin-bottom: 10px;
}

.dropdown {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.encode-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.output-column {
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.output-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.output-box {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: var(--input-background-light);
  border: 1px solid #ccc;
}

  .output-box.dark-mode {
    background-color: var(--input-background-dark);
    border: 1px solid #777;
  }

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

  .copy-button img {
    width: 20px;
    height: 20px;
  }

.copy-alert {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0.9;
}
