<div class="encoding-container">
  <div class="input-column">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Input</mat-label>
      <textarea matInput [(ngModel)]="inputText" placeholder="Enter text" class="text-area"></textarea>
    </mat-form-field>
  </div>
  <div class="middle-column">
    <mat-form-field>
      <mat-label>Select Encoding</mat-label>
      <mat-select [(ngModel)]="selectedEncoding" [disabled]="encodings.length === 0">
        <mat-option *ngIf="encodings.length === 0" value="No Encodings Available">No Encodings Available</mat-option>
        <mat-option *ngFor="let encoding of encodings" [value]="encoding">
          {{encoding}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onEncode()" class="encode-button">Encode</button>
  </div>
  <div class="output-column">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Output</mat-label>
      <textarea matInput [value]="resultText" readonly class="text-area"></textarea>
    </mat-form-field>
    <button mat-icon-button (click)="copyToClipboard()" class="copy-button" title="Copy to clipboard">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
</div>
