<div class="container" [ngClass]="themeClass">
  <div class="input-column">
    <textarea [(ngModel)]="inputText" placeholder="Enter text" class="input-box"></textarea>
  </div>
  <div class="middle-column">
    <label for="encoding-dropdown" class="dropdown-label">Select Encoding:</label>
    <mat-select id="encoding-dropdown" [(ngModel)]="selectedEncoding" class="dropdown">
      <mat-option *ngFor="let encoding of encodings" [value]="encoding">{{ encoding }}</mat-option>
    </mat-select>
    <button mat-raised-button (click)="onEncode()" class="encode-button">Encode</button>
  </div>
  <div class="output-column">
    <div class="output-container">
      <textarea [value]="resultText" readonly class="output-box"></textarea>
      <button mat-icon-button (click)="copyToClipboard()" class="copy-button" title="Copy to clipboard">
          <mat-icon>content_copy</mat-icon>
      </button>
      <div *ngIf="showCopyAlert" class="copy-alert">Copied to clipboard!</div>
    </div>
  </div>
</div>
